* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: grey;
}
header nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    
}